- if @small_url
  %div
    %h1 You entered: #{ @url }
    %h1 
      %span We smurled:
      - smaller_url = small_url(@small_url)
      %small #{ smaller_url }
    %small The url shrank #{ shrinkage(@url, smaller_url) }
    %small Note: with your support, a smaller domain would be much better!
  %br
- elsif @encoded
  %div
    %h3 Sorry, but there is no url associated with #{ @encoded }

%form{ action: '/', method: :post }
  %label
  Enter your url
  %input{ type: 'text', name: 'url', placeholder: 'Enter your url' }
  %button{ type: 'submit', name: 'submit', value: 'smurlify' } Smurlify
%br

%div
  %a{ href: '/urls' } See what others are shortening!