- if @shortened_url
  %div
    %h1 You entered: #{ @url }
    %h1 
      %span We smurled:
      %small #{ @shortened_url }
    /%a(href="")
    %small Modulo our domain name, the url shrank #{ shrinkage(@url, @shortened_url) }
%br

%form{ action: '/', method: :post }
  %label
  Enter your url
  %input{ type: 'text', name: 'url', placeholder: 'Enter your url' }
  %button{ type: 'submit', name: 'submit', value: 'smurlify' } Smurlify